.user {
  padding: 1rem;
}

.user-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;

  .user {
    width: 100%;
    text-align: center;
    padding: 2rem;
    margin: 0.25rem;
    background: #eee;
  }
}
